/* * {box-sizing:border-box} */

.slideview-image-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideview-pointer-container {
   text-align:center;
   cursor: default;
 }

.slideview {
  display: none;
  cursor: zoom-in;
}

.slide {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.3);
  text-decoration: none;
}

.subtitle {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  margin-right: 100px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.surtitle {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.ptr {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .ptr:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
