body, html {
  width: 100%;
  height: 100%;
}

/* Blunt instrument to hide browser scrollbar for IE, Edge, Opera and Firefox */
body {
  overflow: hidden !important;
}

.project-name-textcolor {
  color: #ffffe8;
}

.section-header-background {
  background: url(https://ceresbakalite.github.io/similarity/images/NAVBridgeViewHeaderBackground.png) no-repeat;
  background-size: 100% 100%;
  background-color: #0e2b15;
  padding-right:45px;
  padding-bottom:45px;
  transition-property: height;
  transition-duration: 1s;
  height: 210px;
}

.section-header-transition {
  height: 70px;
}


.section-body-container {
  display: table;
  empty-cells: show;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.section-frame-container {
  height: 100%;
  display: table-row;
  box-shadow: inset 0px 11px 8px -10px rgba(0,0,0,0.19);
  position: relative;
  z-index: 100;
}

.section-frame-container::after
{
  height: 100%;
  /* overflow: hidden; */
}

.section-frame-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.btn-group .button {
  z-index: 50;  
  background-color: #5c685a;
  border: 1px solid gray;
  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  position:static;
  top: 382px;
  float:right;
  transition-duration: 0.4s;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.24), 0 2px 50px 0 rgba(0,0,0,0.19);
  background-color: #dce6f0;
  color: black;
  z-index: 99;
}

.btn-group img {
  float:right;
  width:13px;
  height: 13px;
  padding: 5px 15px 0px 15px;
}

.pin-navbar {
  cursor:pointer;
}
