body, html {
  width: 100%;
  height: 100%;
}

/* Hide browser scrollbar for IE, Edge */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hr-line-paleblue {
  height:2px;
  border-width:0;
  color:#f3f6fa;
  background-color:#f3f6fa !important;
}

.footer-similarity {
  border-top: 1px solid gray;
  font-size: 75%;
}

.img-pointer {
  max-width: 100%;
  vertical-align:bottom;
  float:left;
  margin: 0px 15px 0px 0px;
}

.img-logo {
  width: 35%;
  opacity: 0.999;
  margin: 15px 0px 15px 0px;
  position: relative;
  z-index: -1;
}

.footer-content {
  display: none;
}
