<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NAVService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="AWSDatabase" connectionString="yh0YUfy+qdzLB73J5TDm9Ws+7/7Gm5r7QVUOx9Z9udOUIoh3dzDP5ekjXGkwi7iO2Nb7w9hFGzRtwcVSf9S7b8e3mk4w9Xix/YA2MrbPruhmdttca4gHnBqtZ0pzWBidyc7WbGB6l3biiStgP8jDulD5rGNJUl0ynoUTqXMoAPBji+aAgMlv+py7y++P1tI2z1EeQkHLtZzdBrSGZIzSSOU22K9t1d1FqqYDnbQO879oI5bVCzUtb78rl+g+TgAU" providerName="System.Data.SqlClient" />
    <add name="NAVDatabase" connectionString="EYBPtngThhH0zZDpVwVmZ+QleDIo/cjLM70zClyk7fsgq1VkUGqAPZ8D/hbQ/jv1MiMcmGeqISnldI/9d2wdb9f18xmB6+EOR17R6IJsj1Lu0UGzKCJiwoeipyMkyyBz" providerName="System.Data.SqlClient" />
    <add name="CloudUpdate" connectionString="5EP7wu+Y/to4GSTf4emV9Rt0cAmL3YmbXbtDPuAp8Fbm5VJcC/E3NpGZRN9xw1uLnUtDy6101HPKNRHVrKYDr4IrJ2YUT9976PxruTGfkotnqdgv2h2ls8X7ymTKKwxAJUBxp6qETMTeOm91C7a5rQ==" />
    <add name="LocalUpdate" connectionString="IO79qRdAgTTmbn/uImJeRfOHk+oZFqFhC5bKXNxFwlHw1EZoHF9iLu6X7g+XHYDBwPJSRxG0jAs361RwMdauAbDIfhH7XyC9/VM3VSNYnF0=" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <NAVService.Properties.Settings>
      <setting name="Target" serializeAs="String">
        <value>61756A2B4C54496B3175624D5933774D7235394B514F3352562B6841622F41484A68514D46724F6763356549793642713871556A4F37414B376A2B48624A453079714D505331502F5A34397246472B352F73713951513D3D</value>
      </setting>
      <setting name="HashKey" serializeAs="String">
        <value>ACBA2BBDC5B11D634F754F1E8B149B1CD6C6AE10408AC98C8DA182560B7089A52C9AB4FA7383F53FB88789A838B429879AB2BDF3C5F13805A9C3A436ACD34DC3</value>
      </setting>
      <setting name="Signature" serializeAs="String">
        <value>384650384F587476376D344B5555712B38464234346C307175712B555363574F41474B314D614F597758487A6A6C346B3235495A505543476D62627A5A50466668545937646676713968726D487A497971514C6579673D3D</value>
      </setting>
      <setting name="Sync" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Update" serializeAs="String">
        <value>6A41702B3577365A7367765A656955626F52562B566C41556444597A3473566F4F714455736431786D436173596C4B4876414B6B52776C4855654379647367702F726739714764473978717256316C4E7A3442474F413D3D</value>
      </setting>
    </NAVService.Properties.Settings>
    <log4net>
      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <!-- DISABLE IN PRODUCTION -->
        <!--          
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="WARN" />
          <levelMax value="FATAL" />
        </filter>
        <filter type="log4net.Filter.StringMatchFilter">
          <stringToMatch value="Maintenance" />
        </filter>
        <filter type="log4net.Filter.LevelMatchFilter">
          <levelToMatch value="ERROR" />
        </filter>
        <filter type="log4net.Filter.LevelMatchFilter">
          <levelToMatch value="DEBUG" />
        </filter>
        <filter type="log4net.Filter.DenyAllFilter" />
        -->
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value=" Level - %level Date = %date{dd-MMM-yyyy HH:mm:ss} Source - %logger Message - %message%newline%exception" />
        </layout>
      </appender>
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <!-- Caution: Unwise to use this appender type as the file increases in size unchecked. Use RollingFileAppender instead -->
        <file value="C:\NAVServices\TestData\NAVLogFile.txt" />
        <appendToFile value="true" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{dd-MMM-yyyy HH:mm:ss} [%logger] [User: %property{userid}] [%property{client}] %level - %message%newline%exception" />
        </layout>
      </appender>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <!-- FILTER IN PRODUCTION -->
        <!-- only send this truncated range to file during development -->
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="INFO" />
          <levelMax value="FATAL" />
        </filter>
        <file value="%property{logfilename}" />
        <!--<file type="log4net.Util.PatternString" value="NAVLogFile.txt" /> -->
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maximumFileSize value="1MB" />
        <maxSizeRollBackups value="5" />
        <staticLogFileName value="false" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{dd-MMM-yyyy HH:mm:ss} [%logger] [User: %property{userid}] [%property{client}] %level - %message%newline%exception" />
        </layout>
      </appender>
      <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
        <!-- ENABLE ERROR AND ABOVE WHEN IN PRODUCTION -->
        <!-- only send this truncated range to the database during development -->
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="ERROR" />
          <levelMax value="FATAL" />
        </filter>
        <!-- Caution: Despite log4net releasing the buffer on program terminiation, set the buffer size to 1 when the level is set to DEBUG during development -->
        <bufferSize value="1" />
        <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <!--<connectionString value="data source=.; initial catalog=NAV; integrated security=true;" /> -->
        <commandText value="dbo.pInsertErrorLogEntry" />
        <commandType value="StoredProcedure" />
        <parameter>
          <parameterName value="@userid" />
          <dbType value="Int32" />
          <layout type="log4net.Layout.RawPropertyLayout">
            <key value="userid" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value="@log_date" />
          <dbType value="DateTime" />
          <layout type="log4net.Layout.RawTimeStampLayout" />
        </parameter>
        <parameter>
          <parameterName value="@thread" />
          <dbType value="String" />
          <size value="255" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%thread" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value="@log_level" />
          <dbType value="String" />
          <size value="50" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value="@logger" />
          <dbType value="String" />
          <size value="255" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%logger" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value="@message" />
          <dbType value="String" />
          <size value="4000" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value="@exception" />
          <dbType value="String" />
          <size value="4000" />
          <layout type="log4net.Layout.ExceptionLayout" />
        </parameter>
      </appender>
      <!-- send everything to the consol during development -->
      <!--
      <root>
        <level value="DEBUG" />
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="RollingFileAppender" />
        <appender-ref ref="AdoNetAppender" />
        <appender-ref ref="FileAppender" />
      </root>
      -->
      <!-- only send error and above to database during production -->
      <root>
        <level value="ERROR" />
        <appender-ref ref="AdoNetAppender" />
      </root>
    </log4net>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.5.0" newVersion="1.4.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.17.1.0" newVersion="4.17.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>